:root {
    --global-color-1: #800000; 
}

body {
    font-family: Arial, sans-serif; 
    width: 600px; /* Set the body width */
    margin: 0 auto; /* Center the body */
    border: 3px solid #931420; /* Border around the body */
    background-color: #fffded; /* Background color for the body */
}

html {
    background-color: white; /* Set background color for the HTML element */
}

h1, h2 {
    color: var(--global-color-1); 
}

.red {
    color: var(--global-color-1); 
}

.black {
    color: black;
}

.header-text {
    display: inline-block; 
    vertical-align: top; 
    margin-left: 10px; 
    text-align: left; 
}

h2 {
    font-size: 170%;
}

h2.mission,
h2.ticket-packages {
    text-indent: 0; 
}

h3 {
    font-size: 130%;
    font-style: italic; 
    text-indent: 0; 
}

a:focus,
a:hover {
    font-style: italic; 
}

footer {
    background-color: #931420; /* Sets the background color of the footer */
    color: white; /* Changes the font color of the footer text to white */
    border-top: 3px solid #931420; /* Ensures the top border matches the footer background */
    text-align: center; 
}

footer p {
    margin: 0; /* Removes default margin */
}

.shadow {
    text-shadow: 2px 2px 4px var(--global-color-1); 
}

.float-left {
    float: left;
    margin-right: 15px; 
}

header {
    border-bottom: 3px solid #931420; /* Bottom border for the header */
}

header::after {
    content: "";
    display: table;
    clear: both;
}

/* Additional styles for spacing and padding */
header {
    padding-top: 1.5em; /* Padding for header */
    padding-bottom: 2em; /* Padding for header */
}

main {
    padding: 30px; /* Padding for main element */
}

/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

blockquote {
    font-style: italic; /* Italicize blockquote */
}

/* Styles for Speakers heading */
h1.speakers {
    border: double; /* Double border */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 2px 2px 5px gray; /* Box shadow */
}
